// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-mid: 56.25em;   // 900px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-tiny: 31.25em;    // 500px;
$bp-smallest: 25em;   //400px

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  background: inherit;

  @media (max-width: $bp-largest) {
    font-size: 90%
  }
}

$themes: (
  light: (
    textColor: #000,
    bg: #fff,
    logo: #90ee90,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: #eee,
    svg: #000,
    svgHover: #90ee90,
    zIndex: 9999,
    backdropF: none,
    backdropC: #fff,
    hr: #eee,
    carous: #fff,
    carousBorder: #eee,
    profSvg: whitesmoke,
    setBg: #ffffff3d,
    setBd: #f6f3f3
  ),
  
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: green,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    svg: #90ee90dc,
    svgHover: darkgreen,
    zIndex: 3,
    backdropF: blur(15px),
    backdropC:#222222eb,
    hr: #333,
    carous: #222222b5,
    carousBorder: #00000017,
    profSvg: #90ee90dc,
    setBg: none,
    setBd: #90ee90dc
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}